.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 375px;
  height: 594px;
}
.box .hd {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
  background-color: #9c9c9c;
  width: 375px;
  height: 45px;
  overflow: hidden;
}
.box .title {
  max-width: 369px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 18px;
  letter-spacing: 0;
  color: #ededed;
  font-size: 18px;
}
.box .bd {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.box .main {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 295px;
  height: 17px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 9px;
  letter-spacing: 0;
  color: #0d0d0d;
  font-size: 17px;
}
.box .submain {
  margin-top: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 264px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 17px;
  letter-spacing: 0;
  color: #0d0d0d;
  font-size: 17px;
}
.box .row {
  margin-top: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 15px;
  letter-spacing: 0;
  color: #323232;
  font-size: 28px;
}
.box .ft {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
  background-color: #fc0d1b;
  width: 375px;
  height: 56px;
  overflow: hidden;
}
.box .copyPassword {
  max-width: 369px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
  font-size: 22px;
}