.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  height: 158.53vw;
}
.box .hd {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  z-index: 0;
  background-color: #9c9c9c;
  width: 100vw;
  height: 12vw;
  overflow: hidden;
}
.box .title {
  max-width: 98.4vw;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 4.8vw;
  letter-spacing: 0;
  color: #ededed;
  font-size: 4.8vw;
}
.box .bd {
  margin-top: 5.47vw;
  width: 80vw;
  height: 80vw;
  overflow: hidden;
}
.box .main {
  margin-top: 5.47vw;
  padding-top: 1.33vw;
  padding-bottom: 1.33vw;
  width: 78.67vw;
  height: 4.67vw;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 2.4vw;
  letter-spacing: 0;
  color: #0d0d0d;
  font-size: 4.53vw;
}
.box .submain {
  margin-top: 1.87vw;
  padding-top: 1.33vw;
  padding-bottom: 1.33vw;
  max-width: 70.4vw;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 4.53vw;
  letter-spacing: 0;
  color: #0d0d0d;
  font-size: 4.53vw;
}
.box .row {
  margin-top: 4.53vw;
  padding-top: 1.33vw;
  padding-bottom: 1.33vw;
  width: 66.67vw;
  height: 7.87vw;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 4vw;
  letter-spacing: 0;
  color: #323232;
  font-size: 7.47vw;
}
.box .ft {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 6.27vw;
  background-color: #fc0d1b;
  width: 100vw;
  height: 14.93vw;
  overflow: hidden;
}
.box .copyPassword {
  max-width: 98.4vw;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 5.87vw;
  letter-spacing: 0;
  color: #ffffff;
  font-size: 5.87vw;
}